html {
    height: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    display: grid;
    height: 100%;
    background-color: black;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    text-shadow: 0 0 2px white, 0 0 5px rgb(61, 255, 47), 0 0 15px rgb(61, 255, 47), 0 0 30px rgb(61, 255, 47), 0 0 70px rgb(61, 255, 47);
}

img {
    max-width: 60%;
    max-height: 60%;
    padding: 5px;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 10%;
    color: white;
    font-size: 50px;
    padding: 20px;
    margin: 15px;
    text-shadow: 0 0 2px white, 0 0 5px rgb(61, 255, 47), 0 0 15px rgb(61, 255, 47), 0 0 30px rgb(61, 255, 47), 0 0 70px rgb(61, 255, 47);
    box-shadow: 0 0 .2em rgb(61, 255, 47), 0 0 .2em rgb(61, 255, 47), 0 0 .2em rgb(61, 255, 47);
}

ul {
    list-style: none;
}

.gameinfo {
    grid-row: 1 / span 3;
    grid-column: 1;
    font-size: 125%;
    text-shadow: 0 0 2px white, 0 0 5px rgb(61, 255, 47), 0 0 15px rgb(61, 255, 47), 0 0 30px rgb(61, 255, 47);
}

.cpu-area {
    grid-row: 1 / span 1fr;
    grid-column: 2;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.game-messages {
    grid-row: 2 / span 1fr;
    grid-column: 2;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 200%;
}

.player-area {
    grid-row: 3 / span 1fr;
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.button-area {
    grid-row: 4 / span 1fr;
    grid-column: 2;
    display: flex;
    justify-content: center;
}